

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;


    <ul class="navbar nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="text-muted text-dark">
                Hello @User.Identity.Name
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-danger">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link text-danger">
               Login
            </a>

        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Registar" class="nav-link text-black">
                Register
            </a>
        </li>
    }
</ul>

